header {
  @apply flex items-center justify-between h-[10vh] px-8 dark:bg-gray-800 dark:text-white;
}

.logo {
  @apply text-2xl font-semibold;
}

.navigation-header ul {
  @apply flex items-center gap-4;
}

.navigation-header ul li a {
  @apply block px-2 py-1 text-sm rounded-md transition duration-200 dark:hover:bg-gray-300 hover:bg-gray-900 dark:hover:text-black hover:text-white;
}

.sidebar li a {
  @apply text-xl hover:bg-gray-200 rounded-lg transition duration-200 p-2 block w-full;
}
