.card {
  @apply rounded-lg bg-[#6D67D0];
}

.bottom-card-1 {
  @apply bg-[#6560c899] rounded-lg w-4/5 overflow-hidden flex items-center;
}

.bottom-card-1 input {
  @apply bg-transparent text-white font-bold text-lg placeholder:text-[#C2BFF4] p-4 flex-1 outline-none;
}
